---
import "../styles/global.css";
import Layout from '../layouts/layout.astro';
---

<Layout>
	<div class="text-3xl font-bold underline m-auto bg-red-500">Hello, Tailwind CSS in Astro!!</div>
</Layout>
