---
const { class: className } = Astro.props;
---

<div class="flex flex-col">
  <div class:list={["rounded-sm size-8", className]}></div>
  <div class="w-8 h-4 flex items-center justify-center">
    <span class="text-xs"><slot /></span>
  </div>
</div>
